@import "tailwindcss";

:root {
  --background: ;
  --foreground: #171717;
  --bg-main: #F4FFFE;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-main: #F4FFFE;
    --foreground: #0a0000;
  }
}
html,
body {
  background: var(--bg-main);
  color: var(--foreground);
  font-family: var(--font-lato);
}


.textHeading-color{
  color :#003B33;
}
.oceanGreen-color{
  color :#00A991;
}
.secondary-color{
  color :#008774;
}
.text-blackColor{
  color :#1A1A1A;
}
.text-grayColor{
  color :#525252;
}
